<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login-Page</title>
    <link rel ="stylesheet" href = "/style.css">
</head>    
    
<!-- Login Form -->
<form action="/login" method="POST">
    <div class="login-container">
        <h2>Welcome Login-Page</h2>
        <label for="rollnumber">Roll Number</label>
        <input type="text" name="rollnumber" id="rollnumber" placeholder="Enter your Roll Number" required>

        <label for="password">Password</label>
        <input type="password" name="password" id="pwd" placeholder="Enter your Password" required>

        <div class="button-container">
            <button type="submit">Login</button>
        </div>
        <p>Not registered ?? <a href ="/signup">Signup</a></p>
    </div>
</form>



</body>
</html>
